@use "./variables.scss" as *;
body{
  font-family: $font-primary !important;
  background-color: $base-color !important;
  color: $fg-color;
}
polygon {
  cursor: pointer;
  fill: $pop; // ilk hali
  transition: fill 0.3s ease;
}
polygon:hover {
  animation: hoverColors 1s ease-in-out forwards;
  animation-delay: 1s; 
}
polygon.animate {
  animation: hoverColors 1s ease-in-out forwards;
}
@keyframes hoverColors {
  0% {
    fill: $pop;
    filter: hue-rotate(0deg) brightness(1);
  }
  33% {
    fill: $accent;
    filter: hue-rotate(60deg) brightness(1.2);
  }
  66% {
    fill: $fg-color;
    filter: hue-rotate(120deg) brightness(1.1);
  }
  100% {
    fill: $pop; 
    filter: hue-rotate(180deg) brightness(1);
    
  }
}

.svg-container  {
  width: 40%  !important;
  align-items: center;
  justify-content: center;
  border-radius: 40px;
  svg {
  transform: scaleX(-1); 
  border-radius: 50%;       
  overflow: hidden;         
  }
} 