@use "../../style/variables.scss" as *;

.social {
  position: fixed;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1000;
}

.social ul {
  padding: 0;
  margin: 0;
  list-style: none;
  transform: translateX(-250px);
  transition: all 0.8s ease-in-out;
}

.social ul li {
  display: block;
  margin: 8px 0;
  background: rgba($fg-color, 0.1);
  width: 300px;
  text-align: right;
  padding: 12px 15px;
  border-radius: 0 30px 30px 0;
  transition: all 0.8s ease-in-out;
  backdrop-filter: blur(10px);
  border: 1px solid rgba($fg-color, 0.2);

  a {
    color: $fg-color;
    text-decoration: none;
    font-family: $font-primary;
    font-size: 1.4rem;
    font-weight: 600;
    transition: all 0.8s ease-in-out;
  }
}

.social ul li:hover {
  transform: translateX(150px);
  background: rgba($fg-color, 0.2);
  color: rgb(223, 33, 131);
  text-shadow: rgb(29, 195, 228) 1.68763px 1.68763px 0px;

  a {
    color: rgb(223, 33, 131);
    text-shadow: rgb(29, 195, 228) 1.68763px 1.68763px 0px;
  }
}

.social ul li i {
  margin-left: 12px;
  color: $fg-color;
  background: rgba($base-color, 0.8);
  padding: 12px;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  font-size: 24px;
  transform: rotate(0deg);
  transition: all 0.8s ease-in-out;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.social ul li:hover i {
  color: $fg-color;
  transform: rotate(360deg);
  background: rgba($base-color, 0.8);
  backdrop-filter: blur(5px);
}

.social ul li:hover i.fa-github {
  background: rgba(0, 0, 0, 0.9);
}

.social ul li:hover i.fa-linkedin {
  background: rgba(0, 119, 181, 0.9);
}

.social ul li:hover i.fa-instagram {
  background: linear-gradient(
    45deg,
    rgba(225, 48, 108, 0.9),
    rgba(255, 214, 0, 0.9)
  );
}
